# Android Studio / IntelliJ files
.idea/
.gradle/
build/
*.iml
local.properties

# Android App specific
capture/
output.json

# Secrets & Keys (MOST IMPORTANT)
*.jks
*.keystore
google-services.json
jdbc.properties
secrets.xml

# System files
.DS_Store
Thumbs.db

# Log files
*.log
